<div style="overflow-x:auto;">
    
    <div class="map-container" >

        <div class="diagram" style="position: relative;">


            <div class="column" style="min-width: 149px;">
                <h2><strong><em>N</em></strong></h2>
                <h2><strong>FEP</strong></h2>
                <h3> Suministro Local</h3>
                <h5>
                  @*  <a href="@Url.Action("Cenagas", "Hidrocarburos")" style="display: inline;" title="Ver Importaciones de Gas Natural">*@
                        <a href="@Url.Action("EnConstrucci贸n", "Home")" style="display: inline;" title="Ver Importaciones de Gas Natural">
                        <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Ver Importaciones de Gas Natural" class="iconoflecha">
                    </a>
                   @* <a href="@Url.Action("Exportaciones", "Hidrocarburos")" style="display: inline;" title="Ver Exportaciones de Gas Natural y Petr贸leo">*@
                    <a href="@Url.Action("EnConstrucci贸n", "Home")" style="display: inline;" title="Ver Exportaciones de Gas Natural y Petr贸leo">
                        <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Ver Exportaciones de Gas Natural y Petr贸leo" class="iconoflecha">
                    </a>
                </h5>


                <div class="groupgris" style="margin-top: -22px">
                    <h5>Recursos de Energ铆a F贸sil</h5>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Reservas de Petr贸leo" asp-area="" asp-controller="Map" asp-action="Reserva_de_Crudo">
                        <img src="@Cdn.Url/img_snier/vistas/petroleoi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>R. Petr贸leo</span>
                    </a>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Reservas de Gas Natural" asp-area="" asp-controller="Map" asp-action="Gas_Natural">
                        <img src="@Cdn.Url/img_snier/vistas/gasnaturali.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> R. Gas Natural</span>
                    </a>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Reservas de Carb贸n" asp-area="" asp-controller="Map" asp-action="Carbon">
                        <img src="@Cdn.Url/img_snier/vistas/carboni.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> R. Carb贸n</span>
                    </a>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Reservas de Condensados" asp-area="" asp-controller="Map" asp-action="Reserva_de_Crudo">
                        <img src="@Cdn.Url/img_snier/vistas/condensadosi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Condensados</span>
                    </a>
                </div>
                <p></p>
                <div class="groupuranio" id="uranio" style="margin-top: 5px">

                    <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Recursos de Uranio" asp-area="" asp-controller="Map" asp-action="Reserva_de_Uranio">
                        <img src="@Cdn.Url/img_snier/vistas/uranioi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Uranio</span>
                    </a>

                </div>
                <p></p>
                <div class="groupverde">
                    <h5 >Recursos de Energ铆a Renovable</h5>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Mapa de Yacimientos Geot茅rmicos" asp-area="" asp-controller="Map" asp-action="Yacimientos_Geotermicos">
                        <img src="@Cdn.Url/img_snier/vistas/geotermiai.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Yac. Geot茅rmicos</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Mapa de Agua" asp-area="" asp-controller="Map" asp-action="Reserva_de_Agua">
                        <img src="@Cdn.Url/img_snier/vistas/aguai.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Agua</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Mapa de Viento" asp-area="" asp-controller="Map" asp-action="Velocidad_de_Viento">
                        <img src="@Cdn.Url/img_snier/vistas/vientoi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Viento</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Mapa de Radiaci贸n Solar" asp-area="" asp-controller="Map" asp-action="Radiacion_Solar">
                        <img src="@Cdn.Url/img_snier/vistas/soli.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Solar</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Estad铆sticos de Producci贸n de Biomasa" asp-area="" asp-controller="Map" asp-action="Biomasa">
                        <img src="@Cdn.Url/img_snier/vistas/biomasai.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> E.P. Biomasa</span>
                    </a>
                    <a class="btn-d-gris  d-flex align-items-center" title="Ver Estad铆sticos de Producci贸n de Biog谩s" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n">
                        <img src="@Cdn.Url/img_snier/vistas/biogasi.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> E.P. Biog谩s</span>
                    </a>
                </div>
                <h5 class="pt-3">Suministro Natural</h5>
                <h5 class="pt-3">FEP: Fuentes de Energ铆a Primaria Natural</h5>
            </div>

            <div class="column">
                <h2><strong><em>Nivel Focal</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Sector Energ茅tico</h3>

                <div class="groupgris2" style="margin-top:100px">
                    <img src="@Cdn.Url/img_snier/vistas/refineria.png" alt="Icono personalizado" class="iconoimg">
                    <a class="btn btn-d-sectores" title="Click para Ver Mapa del Sector Petr贸leo y Gas" asp-area="" asp-controller="Home" asp-action="Hidrocarburos">

                        <span>SECTOR PETRLEO Y GAS</span>
                    </a>
                    <div>
                        <img src="@Cdn.Url/img_snier/vistas/pemex.png" alt="Icono personalizado" class="iconoimg2">
                        <img src="@Cdn.Url/img_snier/vistas/privados.png" alt="Icono personalizado" class="iconoimg2">
                    </div>
                    <br>

                    <img src="@Cdn.Url/img_snier/vistas/energia_limpia.png" alt="Icono personalizado" class="iconoimg">
                    <a class="btn btn-d-sectores" title="Click para Ver Mapa del Sector El茅ctrico" id="SE" href="/Home/Electricidad">

                        <span>SECTOR ELCTRICO</span>
                    </a>
                    <div class="row">
                        <div class="col-md-3">

                            <img src="@Cdn.Url/img_snier/vistas/cfei.png" alt="Icono personalizado" class="iconoimg2">
                            <img src="@Cdn.Url/img_snier/vistas/casas.png" alt="Icono personalizado" class="iconoimg2">
                        </div>
                        <div class="col-md-9">
                            <ul>
                                <li>CFE</li>
                                <li>Producci贸n<br>Independiente</li>
                                <li>Generadores</li>
                                <li>Autoabasto</li>
                            </ul>

                        </div>
                    </div>

                </div>




            </div>

            <div class="column">
                <h2><strong><em>Nivel_1</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Provisi贸n</h3>
                <br>
                <br>
                <br>
                <br>
                <br>

                 <a class="btn btn-d-azul" title="Click para Ver Valores de Producci贸n y Provisi贸n Hist贸ricos de Calor" id="SE" href="/Map/PYP_Combustible">

                    Combustible
                </a>
                <br class="pt-5">
                <br>
                <br>
                <br>
           
                <a class="btn btn-d-azul" title="Click para Ver Valores de Producci贸n y Provisi贸n Hist贸ricos de Calor" id="SE" href="/Map/PYP_Calor">
                  Calor
                </a>
                <br class="pt-5">
                <br>
                <br>
                
                 <a class="btn btn-d-azul" title="Click para Ver Valores de Producci贸n y Provisi贸n Hist贸ricos de Calor" id="SE" href="/Map/PYP_Electricidad">
                    Electricidad
                </a>
                <h5 class="pt-3">ES: Energ铆a Secundaria</h5>
            </div>

            <div class="column">
                <h2><strong><em>Nivel_2</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Transformaciones</h3>
                <br>
                <br>
                <br>
                <br>
                @* <br> *@

                <h5 style="padding-top:0px">
                    &nbsp;
                    <img src="@Cdn.Url/img_snier/vistas/sectorpeti.png" alt="Icono personalizado" class="iconoco2e">


                    <a href="@Url.Action("Hidrocarburos_CO2e", "Map")" style="float:right; margin-top:0px"  title="Ver Emisiones de CO2e Sector El茅ctrico por A帽o">
                       <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Ver Emisiones de CO2e Sector Hidrocarburos por A帽o" class="iconoco2e" style="float:right;">
                    </a>
                    @* <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoco2e"> *@
                </h5>
                <div class="group2" style="margin-top: -12px;">
                    @*<a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Mapa de Refiner铆as y Despuntadoras" asp-area="" asp-controller="Map" asp-action="I_Refinerias">*@
                    <a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Datos de Refiner铆as y Despuntadoras" asp-area="" asp-controller="Map" asp-action="RS_RefyDes">
                        <img src="@Cdn.Url/img_snier/vistas/tabla.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span> Refiner铆as y Despuntadoras</span>
                    </a>
                  @*  <a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Mapa de Complejos de Gas" asp-area="" asp-controller="Map" asp-action="I_Complejos">*@
                    <a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Datos de Complejos de Gas" asp-area="" asp-controller="Map" asp-action="RS_CG">
                        <img src="@Cdn.Url/img_snier/vistas/tabla.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Complejos de Gas</span>
                    </a>
                          <a class="btn-d-rojo d-flex align-items-center" title="Click para Ver Datos de Autoconsumo" asp-area="" asp-controller="Map" asp-action="RS_Autoconsumo">
                        <img src="@Cdn.Url/img_snier/vistas/tabla.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Autoconsumo</span>
                    </a>
                </div>
                <h5>
                    <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: -14px; float:left">

                </h5>


                <h5>
                    &nbsp;
                    &nbsp;
                    <a href="@Url.Action("Electricidad_CO2e", "Map")" style="float:right; margin-top:0px"  title="Ver Emisiones de CO2e Sector El茅ctrico por A帽o">
                       <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Ver Emisiones de CO2e Sector El茅ctrico por A帽o" class="iconoco2e" style="float:right;">
                    </a>
                    @* <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoco2e" style="float:right;"> *@
                </h5>
                <div class="groupnaranja" style="margin-top: 30px">
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Turbo Gas y Vapor" asp-area="" asp-controller="Map" asp-action="I_TurboGas">
                 @*    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Turbo gas" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Turbo Gas y Vapor</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Combusti贸n Interna" asp-area="" asp-controller="Map" asp-action="I_CI">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Combusti贸n Interna" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Comb. Int.</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de NGCC" asp-area="" asp-controller="Map" asp-action="I_NGCC">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Ciclo Combinado" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Ciclo Combinado</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Cogeneraci贸n" asp-area="" asp-controller="Map" asp-action="I_CHP">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Convencional" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Cogeneraci贸n</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Cogeneraci贸n Eficiente" asp-area="" asp-controller="Map" asp-action="I_CE">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Convencional" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Cog. Eficiente</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Carboel茅ctricas" asp-area="" asp-controller="Map" asp-action="I_Carbo">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Carboel茅ctrica" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Carboel茅ctrica</span>
                    </a>
                </div>
                <h5>
                    <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: -7px; float:left">


                </h5>

                <div class="group3" style="margin-top:43px">
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Geot茅rmia" asp-area="" asp-controller="Map" asp-action="I_Yacimientos_Geotermicos">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Geot茅rmica" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Geot茅rmica</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Hidroel茅ctricas" asp-area="" asp-controller="Map" asp-action="I_Hidroelectrica">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Hidroel茅ctricas" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Hidroel茅ctrica</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de E贸licas" asp-area="" asp-controller="Map" asp-action="I_Eolica">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de E贸licas" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>E贸lica</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Fotovoltaicas" asp-area="" asp-controller="Map" asp-action="I_Radiacion_Solar">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Fotovoltaicas" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <sapn>Solar F.V.</sapn>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Nucleoel茅ctrica" asp-area="" asp-controller="Map" asp-action="I_Nuclear">
                    @*<a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Nucleoel茅ctricas" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n">*@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Nucleoel茅ctrica</span>
                    </a>
                    <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Biomasa" asp-area="" asp-controller="Map" asp-action="I_Biomasa">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Click para Ver Mapa de Bioenerg铆a" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/mapam.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">
                        <span>Bioenerg铆a</span>
                    </a>
                </div>

            </div>

            <div class="column" style="min-width: 149px;">
                <h2><strong><em>Nivel_3</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Producci贸n</h3>
                <h5 style="margin-top: 77px;">

                    <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Icono personalizado" class="iconoflecha">

                    <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Icono personalizado" class="iconoflecha">
                </h5>
                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Recursos de Petr贸leo" asp-area="" asp-controller="Map" asp-action="TE_Petroliferos">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>Petrol铆feros</span>
                </a>
                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Recursos de Gas Seco" asp-area="" asp-controller="Map" asp-action="TE_GasSeco">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>Gas Seco</span>
                </a>
                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Recursos de Gas L.P." asp-area="" asp-controller="Map" asp-action="TE_GasLP">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span> Gas L.P.</span>
                </a>


                <br style="margin-top:15px">

                <h5 style="margin-top:80px">
                    <img src="@Cdn.Url/img_snier/vistas/importacion.png" alt="Icono personalizado" class="iconoflecha">

                    <img src="@Cdn.Url/img_snier/vistas/exportacion.png" alt="Icono personalizado" class="iconoflecha">
                </h5>

                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Carga Pico" asp-area="" asp-controller="Map" asp-action="TE_CargaPico">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>  Carga Pico</span>
                </a>

                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Carga Base" asp-area="" asp-controller="Map" asp-action="TE_CargaBase">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>    Carga Base</span>
                </a>
                <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Intermitente" asp-area="" asp-controller="Map" asp-action="TE_Intermitente">
                    <img src="@Cdn.Url/img_snier/vistas/circulog.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                    <span>     Intermitente</span>
                </a>


                <br>
            </div>

            <div class="column">
                <h2><strong><em>Nivel_4</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Distribuci贸n</h3>

                <br>
                <br>
                <div class="groupgris" style="margin-top:40px">
                    <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribuci贸n de Petrol铆feros" href="#">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribuci贸n de Petrol铆feros" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/camioni.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">

                        <span>  Transporte</span>
                    </a>
                    <img src="@Cdn.Url/img_snier/vistas/abajo.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                    <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribuci贸n de Gas Seco" href="#">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribuci贸n de Gas Seco" asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/gas_lp.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">

                        <span>  Almacenamiento</span>
                    </a>
                    <img src="@Cdn.Url/img_snier/vistas/abajo.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                     <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribuci贸n de Gas L.P." href="#">
                    @* <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribuci贸n de Gas L.P." asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        <img src="@Cdn.Url/img_snier/vistas/gas_seco.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">

                        <span>  Distribuci贸n</span>
                    </a>
                    <img src="@Cdn.Url/img_snier/vistas/abajo.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                    <br />
                    <img src="@Cdn.Url/img_snier/vistas/gasolineria.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                    <img src="@Cdn.Url/img_snier/vistas/tanque.png" alt="Icono personalizado" class="iconoboton2" style="padding-right:5px">
                     <a class="btn-d-gris d-flex align-items-center" title="Ver Mapa de Distribuci贸n de Comercializaci贸n y Expendio al P煤blico" href="#">
                    @* <a class="btn-d-gris d-flex align-items-center" style="height:46px" title="Ver Mapa de Distribuci贸n de Gas L.P." asp-area="" asp-controller="Home" asp-action="EnConstrucci贸n"> *@
                        
                        <span>  Comercializaci贸n y Expendio al P煤blico</span>
                    </a>
                    <br />
                
                </div>
                <h5>
                    <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: -7px; float:left">

                </h5>
                <br>
                <br>
                <br>
                
                <div class="groupgris" style="margin-top: -32px">
                    <p class="texto-vertical-right" style="top:613px;font-size:14px;font-weight:bold">RGD</p>

                    <img src="@Cdn.Url/img_snier/vistas/rnt.png" alt="Icono personalizado" class="iconoimg3">
                    <p class="texto-vertical-right" style="top:553px;font-size:14px; font-weight:bold">RNT</p>
                    <br />
                    <img src="@Cdn.Url/img_snier/vistas/rnd.png" alt="Icono personalizado" class="iconoimg3">

                </div>
                <h5>
                    <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: -7px; float:left">

                </h5>
                <br>
            </div>


            <div class="column">
                <h2><strong><em>Nivel_5</em></strong></h2>
                @* <br> *@
                <br>
                <h3>Uso Final</h3>
                <h5 style="padding-top:216px">
                    @* <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Icono personalizado" class="iconoco2e" style="float:right; margin-top:-37px"> *@
                   <a href="@Url.Action("UF_CO2e", "Map")" style="float:right; margin-top:-37px"  title="Ver Emisiones de CO2e">
                        <img src="@Cdn.Url/img_snier/vistas/co2ei.png" alt="Ver Emisiones de CO2e" class="iconoco2e">
                    </a>
                </h5>



                <div class="group_pm">
                    <h5 style="color:var(--rojoclaro)">Perfil Metab贸lico</h5>
                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Perfil Metab贸lico de Hogares" asp-area="" asp-area="" asp-controller="Map" asp-action="TE_Hogares">
                        <img src="@Cdn.Url/img_snier/vistas/hogar.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Hogares</span>
                    </a>

                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Perfil Metab贸lico de Transporte" asp-area="" asp-area="" asp-controller="Map" asp-action="TE_Transporte">
                        <img src="@Cdn.Url/img_snier/vistas/transporte_pm.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span>Transporte</span>
                    </a>

                    <a class="btn-d-griso  d-flex align-items-center" title="Ver Mapa de Perfil Metab贸lico de Servicio P煤blico y Comercial" asp-area="" asp-controller="Map" asp-action="TE_SPyC">
                        <img src="@Cdn.Url/img_snier/vistas/servicio.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Serv. P煤b. y Com.</span>
                    </a>



                    <a class="btn-d-rojo  d-flex align-items-center" title="Ver Mapa de Perfil Metab贸lico de Servicio P煤blico y Comercial" asp-area="" asp-controller="Map" asp-action="TE_Agricultura">
                        <img src="@Cdn.Url/img_snier/vistas/agricultura.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Agricultura</span>
                    </a>
                    <a class="btn-d-rojo  d-flex align-items-center" title="Ver Mapa de Perfil Metab贸lico de Industria Energ茅tica" asp-area="" asp-controller="Map" asp-action="TE_Industria">
                        <img src="@Cdn.Url/img_snier/vistas/industria.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Industria</span>
                    </a>
                    <a class="btn-d-rojo  d-flex align-items-center" title="Ver Mapa de Perfil Metab贸lico del Sector Energ铆a" asp-area="" asp-controller="Map" asp-action="TE_SE">
                        <img src="@Cdn.Url/img_snier/vistas/sectore.png" alt="Icono personalizado" class="iconoboton" style="padding-right:5px">

                        <span> Sector Energ铆a</span>
                    </a>

                    <h5>
                        <img src="@Cdn.Url/img_snier/vistas/tierra.png" alt="Icono personalizado" class="iconotierra" style="margin-top: 10px; float:left">

                    </h5>

                </div>


            </div>

            <!-- Flecha de conexi贸n -->
            <img src="@Cdn.Url/img_snier/vistas/rr.png" alt="Icono personalizado" class="arrow-image" style="top: 270px; left: 143px; width: 40px; height: auto;">
            <img src="@Cdn.Url/img_snier/vistas/flecha_curva.png" alt="Icono personalizado" class="arrow-image" style="top: 350px; left: 135px; width: 40px; height: 200px;">
            <p class="float-text" style="right: 250px; top:819px;">Retroalimentaci贸n</p>
            <p class="float-text" style="left: 645px;top:361px">P茅rdidas</p>
            <img src="@Cdn.Url/img_snier/vistas/flecha_apertura.png" alt="Icono personalizado" class="arrow-image" style="top: 210px; left: 375px; width: 40px; height: 200px;">
            <img src="@Cdn.Url/img_snier/vistas/rr.png" alt="Icono personalizado" class="arrow-image" style="top: 522px; left: 371px; width: 40px; height: auto;">
            <img src="@Cdn.Url/img_snier/vistas/flecha_apertura_a.png" alt="Icono personalizado" class="arrow-image" style="top: 470px; left: 604px; width: 40px; height: auto;">
            <p class="texto-vertical-right" style="left: 455px;top:155px">Infraestructura <br /> de Energ铆a F贸sil</p>
            <p class="texto-vertical-right" style="left: 438px;top:456px">Infraestructura <br /> de Energ铆a Renovable</p>
            <img src="@Cdn.Url/img_snier/vistas/flecha_cierre_a.png" alt="Icono personalizado" class="arrow-image" style="top: 228px; left: 604px; width: 40px; height: auto;">
            <img src="@Cdn.Url/img_snier/vistas/flecha_uno_muchos.png" alt="Icono personalizado" class="arrow-image" style="top: 247px; left: 838px; width: 40px; height: auto;">
            <img src="@Cdn.Url/img_snier/vistas/flecha_uno_muchos.png" alt="Icono personalizado" class="arrow-image" style="top: 531px; left: 838px; width: 40px; height: auto;">
            <p class="float-text" style="float: left; padding-left: 273px; margin-top: -17px;">(Consumo Directo e Indirecto)</p>
            <img src="@Cdn.Url/img_snier/vistas/flecha_muchos_a_uno.png" alt="Icono personalizado" class="arrow-image" style="top: 249px; left: 975px; width: 40px; height: auto;">
            <img src="@Cdn.Url/img_snier/vistas/flecha_muchos_a_uno2.png" alt="Icono personalizado" class="arrow-image" style="top: 536px; left: 975px; width: 40px; height: auto;">
            <img src="@Cdn.Url/img_snier/vistas/union.png" alt="Icono personalizado" class="arrow-image" style="top: 300px; left: 1244px; width: 40px; height: auto;">
            <p class="texto-vertical-right" style="left: 902px;top:501px">Disipativas</p>
            <p class="texto-vertical-right" style="left: 902px;top:690px">Hiperciclo</p>
            <p class="texto-vertical-right" style="left: 1023px;top:585px">Comportamientos</p>
            <img src="@Cdn.Url/img_snier/vistas/retroalimentacion.png" alt="Icono personalizado" class="arrow-image" style="top: 515px; left: 250px; width: 1200px; height: 375px">
            <img src="@Cdn.Url/img_snier/vistas/rr.png" alt="Icono personalizado" class="arrow-image" style="top: 340px;left: 735px;transform: rotate(90deg); width: 40px; height: auto;">

        </div>
        
    </div>
</div>

@* Estilos *@
<style>
/* Contenedor principal con desplazamiento horizontal */
.map-container {
  overflow-x: auto;
  white-space: nowrap;
}

/* Ajuste general del diagrama */
.diagram {
  display: flex;
  position: relative;
  flex-wrap: nowrap;         /* evita que las columnas bajen de l铆nea */
  gap: 30px;                 /* separa un poco las columnas */
}

/* Cada columna */
.column {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  min-width: 200px;          /*  asegura un ancho m铆nimo para evitar que se peguen */
  flex-shrink: 0;            /*  evita que se compriman */
}

/* Flechas normales */
.iconoflecha {
  width: 35px;
  height: auto;
  margin: 5px;
  transition: all 0.3s ease;
}

/*  Ajustes para pantallas peque帽as (celulares) */
@@media (max-width: 991px) {

  /* Asegura scroll horizontal y estabilidad */
  .map-container {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  /* Mant茅n las columnas alineadas horizontalmente */
  .diagram {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;              /*  menos espacio entre columnas pero sin pegarlas */
  }

  /* Flechas m谩s peque帽as y m谩s hacia la izquierda */
  .iconoflecha {
    width: 25px;
    margin-left: -10px;
  }

  /* Columnas ligeramente m谩s angostas pero fijas */
  .column {
    min-width: 160px;       /*  se reduce suavemente */
    padding: 5px;
    flex-shrink: 0;         /*  evita que se achiquen demasiado */
  }
}
</style>

